.layout{
    background-color:#F2F4F7 ;
    .center{
        // position: fixed;
        width: 100%;
        bottom: 50px;
        top:0px;

    }
    .footer{
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: white;
    }
}